

.reset {
  box-sizing: border-box;
  margin: 0;
  //background: none;
}
//* { @extend .reset }
.allDefault {
  all: unset;
  @extend .reset;
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
@mixin row {
  display: flex;
  flex-flow: row nowrap;
}
.rowWrap {
  display: flex;
  flex-flow: row wrap;
}
.col {
  display: flex;
  flex-flow: column nowrap;
}
@mixin col {
  display: flex;
  flex-flow: column nowrap;
}
.center {
  display: grid;
  place-items: center;
}
@mixin center {
  display: grid;
  place-items: center;
}
.centerText {
  text-align: center;
}
.centerStart {
  display: grid;
  place-items: center start;
}
.abs {
  position: absolute;
  inset: 0; // top: 0; right: 0; bottom: 0; left: 0;
}




.pageElement {
  width: clamp(400px, 100%, 1920px);
  padding: 0 64px 0 64px;
  @media (max-width: 900px) {
    padding: 0 16px 0 16px;
  }
}
@mixin mobileFullWidth {
  @media (max-width: 550px) {
    width: 100%;
  }
}




.hideScrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.noScroll {
  overflow: hidden;
}
.noSelect {
  user-select: none;
}



.underborderOnHover {
  position: relative;
  
  &:hover {
    &::after{
      @extend .abs; bottom: -2px;
      content: '';
      border-bottom: 2px solid #8B8B8B;
    }
  }
}