




.noScroll {
  overflow: hidden;
}
.noScrollX {
  overflow-x: hidden;
}
.noScrollY {
  overflow-y: hidden;
}



.noSelect {
  user-select: none;
}
.instantScroll {
  // The scrolling box scrolls instantly
  scroll-behavior: auto;
}
