


* {
  user-select: none;
}
/* Pointer fixes */
*:where(:not(input, textarea)) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}


:root {
  /* viewport content width / height */
  --vp-ct-w: 0px;
  --vp-ct-h: 0px;
}


:root {
  --screen-safe-inset-bottom: max(
    /* На iOS нужно чтобы отступить от полоски снизу экрана */
    calc( env(safe-area-inset-bottom, 0px) - 14px ),
    0px
  );
  
  --page-ct-pb-min: 50px;
  
  
  
  --top-action-bar-offest-top: 0px;
  --top-action-bar-h: 0px;
  
  --top-floating-bar-offest-top: calc( var(--top-action-bar-offest-top) + var(--top-action-bar-h) );
  --top-floating-bar-h: 0px;
  
  
  --bottom-floating-bar-h: 0px;
  --bottom-floating-bar-offest-bottom: calc( var(--bottom-action-bar-h) + var(--bottom-action-offest-bottom) );
  
  --bottom-action-bar-h: 0px;
  --bottom-action-offest-bottom: calc( var(--bottom-nav-bar-h) + var(--bottom-nav-offest-bottom) );
  
  --bottom-nav-bar-h: 0px;
  --bottom-nav-offest-bottom: var(--screen-safe-inset-bottom);
  
  
  
  --top-action-bars-h: var(--top-floating-bar-offest-top);
  --top-page-inset: calc( var(--top-action-bars-h) + var(--top-floating-bar-h) );
  
  
  --bottom-action-bars-h: var(--bottom-floating-bar-offest-bottom);
  --bottom-page-inset: calc(
    var(--bottom-action-bars-h)
    + max( var(--bottom-floating-bar-h), var(--page-ct-pb-min) )
  );
}






@keyframes emptyAnimation { }
.no-animation {
  animation-name: emptyAnimation;
  animation-duration: 1ms;
}




