


:root {
  user-select: none;
}
:root {
  /* viewport content width / height */
  --vp-ct-w: 0px;
  --vp-ct-h: 0px;
}
:root {
  --page-pv: 50px;
  
  --top-action-bar-h: 0px;
  --top-floating-bar-h: 0px;
  
  --bottom-floating-bar-h: 0px;
  --bottom-action-bar-h: 0px;
  --bottom-nav-bar-h: 0px;
  
  
  
  --bottom-bars-inset: calc(
    var(--bottom-action-bar-h) +
    var(--bottom-nav-bar-h)
  );
  
  --bottom-page-inset: calc(
    var(--bottom-nav-bar-h) +
    var(--bottom-action-bar-h) +
    max(
      var(--bottom-floating-bar-h),
      var(--page-pv)
    )
  );
  
  
  --top-bars-inset: calc(
    var(--top-action-bar-h)
  );
  
  --top-page-inset: calc(
    var(--top-action-bar-h) +
    max(
      var(--top-floating-bar-h),
      var(--page-pv)
    )
  );
}


/* Pointer fixes */
*:not(input, textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}




@keyframes NoAnimation {
  /*from { transform: scale(1) }
  to { transform: scale(1) }*/
}
.no-animation {
  animation-name: NoAnimation;
  animation-duration: 1ms;
}




